/* Основные стили для всего сайта */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./img/bg.jpg'); 
}

/* Стили для заголовков */
h1, h2 {
    color: #2e3a59;
    font-family: 'Georgia', serif;
}

/* Основные стили для формы */
form {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="file"], button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

button {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #357ABD;
}

.fform {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
}

.bbutton {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.bbutton:hover {
    background-color: #357ABD;
}

/* Стили для навигации */
a {
    color: #4a90e2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Стили для галереи */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Стили для профиля */
.profile-container {
    width: 80%;
    margin: 0 auto;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo img {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.photo form {
    margin-top: 10px;
}

/* Стили для логина и регистрации */
.login-register-container {
    opacity: 90%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-register-container h2 {
    margin-top: 0;
}